body {
  margin: 0;
  line-height: normal;
  overflow-y: hidden;
}

:root {
  /* fonts */
  --FlashStudy-inter-semi-bold-1334: Inter;

  /* font sizes */
  --font-size-base-5: 15.5px;
  --font-size-lgi-1: 19.1px;
  --font-size-23xl-5: 42.5px;
  --font-size-sm-6: 13.6px;
  --font-size-sm-8: 13.8px;
  --font-size-base-4: 15.4px;
  --FlashStudy-inter-semi-bold-1334-size: 13.3px;
  --font-size-sm-9: 13.9px;
  --font-size-sm-7: 13.7px;
  --FlashStudy-inter-semi-bold-15-size: 15px;
  --FlashStudy-inter-semi-bold-1345-size: 13.5px;
  --font-size-base-1: 15.1px;
  --font-size-smi-9: 12.9px;
  --font-size-sm: 14px;
  --font-size-sm-2: 13.2px;
  --font-size-lgi-2: 19.2px;
  --font-size-base-3: 15.3px;
  --font-size-lg-9: 18.9px;
  --font-size-11xl: 30px;
  --FlashStudy-inter-semi-bold-1144-size: 11.4px;
  --font-size-5xl: 24px;

  /* Colors */
  --FlashStudy-white-lilac: #f6f7fb;
  --FlashStudy-verdun-green: #4255ff;
  --FlashStudy-nero: #fff;
  --FlashStudy-athens-gray: #edeff4;
  --FlashStudy-malachite: #ffcd1f;
  --FlashStudy-pickled-bluewood: #2e3856;
  --FlashStudy-ebony-clay: #282e3e;
  --FlashStudy-comet: #586380;
  --FlashStudy-buddha-gold: #a8b1ff;
  --FlashStudy-geyser: #d9dde8;
  --color-gainsboro-100: #d9d9d9;
  --FlashStudy-turbo: #dbdfff;
  --FlashStudy-lucky-point: #14125c;
  --FlashStudy-black: #000;
  --FlashStudy-cedar: #44131f;

  /* Gaps */
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-4xl-1: 23.1px;
  --gap-base-1: 15.1px;

  /* Paddings */
  --padding-63xl: 82px;
  --padding-301xl: 320px;
  --padding-xl: 20px;
  --padding-141xl: 160px;
  --padding-29xl: 48px;
  --padding-12xl-1: 31.1px;
  --padding-28xl-2: 47.2px;
  --padding-5xl: 24px;
  --padding-12xs-8: 0.8px;
  --padding-base: 16px;
  --padding-11xs-1: 1.1px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-base-1: 15.1px;
  --padding-2xs-1: 10.1px;
  --padding-mini: 15px;
  --padding-12xs-9: 0.9px;
  --padding-5xs: 8px;
  --padding-17xl: 36px;
  --padding-xl-5: 20.5px;
  --padding-2xl-5: 21.5px;
  --padding-3xs-1: 9.1px;
  --padding-3xs: 10px;
  --padding-xs-5: 11.5px;
  --padding-smi-5: 12.5px;
  --padding-11xs-4: 1.4px;
  --padding-12xs: 1px;
  --padding-8xs: 5px;
  --padding-16xl: 35px;
  --padding-4xs-1: 8.1px;
  --padding-4xs-6: 8.6px;
  --padding-xl-3: 20.3px;
  --padding-13xl: 32px;
  --padding-383xl-8: 402.8px;
  --padding-6xs-8: 6.8px;
  --padding-481xl-8: 500.8px;
  --padding-mini-2: 14.2px;
  --padding-67xl: 86px;
  --padding-12xs-7: 0.7px;
  --padding-7xs-3: 5.3px;
  --padding-3xs-8: 9.8px;
  --padding-45xl: 64px;
  --padding-19xl-7: 38.7px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-57xl: 76px;
  --br-9xs: 4px;
  --br-xl: 20px;
  --br-base: 16px;
}
