@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	position: relative;
	background-image: url('../image/main.jpg');
    background-size: cover;
	height: 100vh;
	overflow: hidden;
    font-family: 'Inter', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--FlashStudy-black); /* Màu đen với độ trong suốt là 0.5 */
    opacity: 0.5;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 380px;
	background: var(--FlashStudy-athens-gray);
    /* opacity: 0.85; */
	border-radius: 15px;
}

.container h1 {
	text-align: center;
	padding-top: 20px;

}

.container form {
	padding: 0 40px;
}

form .form-control {
	position: relative;
	border-bottom: 2px solid var(--FlashStudy-geyser);
	margin: 40px 0;
}

.form-control.success {
	border-bottom-color: #2691d9;
}

.form-control.error {
	border-bottom-color: #e74c3c;
}

.form-control input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

small {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 3px;
	color: #e74c3c;
}

.form-control span::before {
	content: '';
	position: absolute;
	top: 42px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: 0.3s;
}

.form-control input:focus ~ span::before {
	width: 100%;
}

input[type='submit'] {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #08609a;
}

.signup_link {
	margin: 25px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}

.signup_link a {
	color: #2691d9;
	text-decoration: none;
}

.signup_link a:hover {
	text-decoration: underline;
}
