.svg-icon {
  align-self: stretch;
  height: 22.1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.img,
.link {
  flex-direction: column;
}
.img {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.link {
  flex: 1;
  cursor: pointer;
}
.link,
.name,
.name-2,
.name-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0.5px 31.7px 0 0;
  gap: 22px;
  max-width: 100%;
}

.name,
.name-2 {
  width: 95px;
  flex-direction: column;
}

.name {
  margin-top: -1px;
  width: 146px;
  flex-direction: row;
  align-items: center;
  padding: 21.4px var(--padding-5xs) var(--padding-2xl-5);
  box-sizing: border-box;
}

.name-3 {
  align-self: stretch;
  flex-direction: row;
}

.link,
.name,
.name-2,
.name-3 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}

.img,
.link {
flex-direction: column;
}

.link {
  flex: 1;
  cursor: pointer;
}

.img {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.svg-icon {
  align-self: stretch;
  height: 22.1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl-5) 0 22.4px;
  position: relative;
  cursor: pointer;
}

.home-link {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: inherit; /* Kế thừa màu chữ từ phần tử cha */
}

.home {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 40px;
}
.home-link {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: inherit; /* Kế thừa màu chữ từ phần tử cha */
}
.after {
  width: 100%;
  height: 4px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--FlashStudy-buddha-gold);
}
.link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl-5) 0 22.4px;
  position: relative;
  cursor: pointer;
}

.subject-areas {
  cursor: pointer;
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 88.4px;
  white-space: nowrap;
}

.subject-list {
  display: none; /* Ẩn danh sách ban đầu */
  position: relative; /* Vị trí tuyệt đối */
  top: 100%; /* Hiển thị ở phía dưới của "Subject areas" */
  left: 0;
  width: 200px; /* Độ rộng của dropdown */
  background-color: #fff; /* Màu nền */
  border: 1px solid #ccc; /* Viền */
  border-top: none; /* Không có viền phía trên */
  border-radius: 0 0 4px 4px; /* Bo góc */
  z-index: 1000; /* Độ sâu z-index để hiển thị trên các thành phần khác */
}

/* Style cho từng mục trong danh sách */
.subject-list li {
  list-style: none; /* Ẩn dấu đầu dòng */
  margin-bottom: 5px; /* Khoảng cách giữa các mục */
}

/* Style cho các liên kết trong danh sách */
.subject-list li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333; /* Màu chữ */
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
  font-size: 16px; /* Kích thước văn bản */
}

/* Hover state cho các liên kết */
.subject-list li a:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.name-parent,
.subject-areas-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.subject-areas-wrapper {
  width: 88.4px;
  flex-direction: column;
  padding: var(--padding-xl-5) 0 0;
  text-align: center;
  font-size: var(--FlashStudy-inter-semi-bold-1334-size);
  color: var(--FlashStudy-ebony-clay);
}
.name-parent {
  flex-direction: row;
  padding: 0.5px 31.7px 0 0;
  gap: 22px;
  max-width: 100%;
}
.after1,
.frame {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
}


.after1 {
  height: 4px;
  width: 112.2px;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
}

.search,
.search-wrapper {
display: flex;
align-items: flex-start;
justify-content: flex-start;
box-sizing: border-box;
max-width: 100%;
}

.search-wrapper {
  width: 723px;
  flex-direction: column;
  padding: 13px 0 0;
}

.search {
  align-self: stretch;
  border-radius: var(--br-57xl);
  background-color: var(--FlashStudy-white-lilac);
  border: 1px solid var(--FlashStudy-athens-gray);
  flex-direction: row;
  padding: 3.5px 6.1px 2.5px var(--padding-17xl);
  min-height: 32px;
}


.combobox-listbox-search-la {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--FlashStudy-white-lilac);
  height: 32px;
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 11px;
  box-sizing: border-box;
  font-family: var(--FlashStudy-inter-semi-bold-1334);
  font-weight: 600;
  font-size: var(--font-size-base-4);
  color: var(--FlashStudy-comet);
  min-width: 250px;
  max-width: 100%;
}


.img-search {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.search,
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.search {
  align-self: stretch;
  border-radius: var(--br-57xl);
  background-color: var(--FlashStudy-white-lilac);
  border: 1px solid var(--FlashStudy-athens-gray);
  flex-direction: row;
  padding: 3.5px 6.1px 2.5px var(--padding-17xl);
  min-height: 32px;
}
.search-wrapper {
  width: 723px;
  flex-direction: column;
  padding: 13px 0 0;
}

.log-in {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--FlashStudy-inter-semi-bold-1334);
  color: var(--FlashStudy-comet);
  text-align: center;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.button-log-in,
.span {
  display: flex;
  align-items: center;
}
.span {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-12xs-9);
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.button-log-in {
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini) var(--padding-2xs-1)
    var(--padding-base-1);
  box-sizing: border-box;
  min-height: 40px;
}
.login {
  flex: 0.8163;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.sign-up {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm-6);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--FlashStudy-inter-semi-bold-1334);
  color: var(--FlashStudy-ebony-clay);
  text-align: center;
  display: inline-block;
  min-width: 50px;
  white-space: nowrap;
}
.button-sign-up,
.span1 {
  display: flex;
  align-items: center;
}
.span1 {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-12xs-9);
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.button-sign-up {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--FlashStudy-malachite);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base-1) var(--padding-2xs-1)
    var(--padding-mini);
  box-sizing: border-box;
  min-height: 40px;
}
.signup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-form,
.login-signup {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.login-signup {
  width: 167.3px;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 11.9px;
}
.header-form {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
  max-width: 100%;
}
.header,
.picture-icon {
  align-self: stretch;
  max-width: 100%;
}
.header {
  background-color: var(--FlashStudy-nero);
  border-bottom: 1.1px solid var(--FlashStudy-athens-gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) var(--padding-11xs-1);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-sm-9);
  color: var(--FlashStudy-pickled-bluewood);
  font-family: var(--FlashStudy-inter-semi-bold-1334);
}

.picture-icon {
  position: relative;
  overflow: hidden;
  max-height: 720px;
  object-fit: cover;
  min-height: 720px;
}
.intro_main2,
.intro_main1 {
  margin: 0;
}
.review {
  align-self: stretch;
  position: relative;
  line-height: 56px;
}

.heading-1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-8);
}
.intro_main4,
.intro_main6,
.intro_main3,
.intro_main5 {
  margin: 0;
}

.intro_main {
  position: relative;
  line-height: 28px;
}
.forrm-text,
.heading-,
.text-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading- {
  align-self: stretch;
  min-height: 24px;
  font-size: var(--font-size-lgi-1);
}
.forrm-text,
.text-1 {
  width: 100%;
}
.text-1 {
  gap: var(--gap-base);
  max-width: 560px;
}
.forrm-text {
  padding: var(--padding-28xl-2) var(--padding-29xl) var(--padding-29xl);
  box-sizing: border-box;
  max-width: 656px;
}
.sign-up-now1 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 92px;
}
.button-sign-up-now,
.span2 {
  display: flex;
  align-items: center;
}
.span2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.button-sign-up-now {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--FlashStudy-verdun-green);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl) 31px var(--padding-xl) var(--padding-12xl-1);
  box-sizing: border-box;
  min-height: 64px;
}
.color-sign-up,
.sign-up-now {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-sign-up {
  width: 154px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.sign-up-now {
  align-self: stretch;
  padding: 0 var(--padding-29xl);
  text-align: center;
  font-size: var(--font-size-base-5);
}
.body,
.div,
.sign-up-now,
.text {
  flex-direction: column;
}
.text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 13.5px 0;
}
.body,
.div {
  max-width: 100%;
}
.body {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: calc(100% - 129px);
  top: 64.1px;
  bottom: 64.9px;
  left: 0.1px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-63xl) var(--padding-301xl);
  box-sizing: border-box;
  z-index: 1;
}
.div {
  align-self: stretch;
  padding: 0;
  position: relative;
  margin-top: -0.6px;
  text-align: left;
  font-size: var(--font-size-23xl-5);
  color: var(--FlashStudy-nero);
  font-family: var(--FlashStudy-inter-semi-bold-1334);
}
.div,
.div-next,
.index {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div-next {
  flex: 1;
  flex-direction: column;
  padding: 0 0 815.6px;
  min-height: 1600px;
  max-width: 100%;
}
.index {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--FlashStudy-white-lilac);
  flex-direction: row;
  padding: 0;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .div-next {
    padding-bottom: 530px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .review {
    font-size: 34px;
    line-height: 45px;
  }
}
@media screen and (max-width: 750px) {
  .forrm-text,
  .text-1 {
    max-width: 100%;
  }
  .forrm-text {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
  }
  .body,
  .div-next,
  .forrm-text {
    box-sizing: border-box;
  }
  .body {
    padding-left: var(--padding-141xl);
    padding-right: var(--padding-141xl);
  }
  .div-next {
    padding-bottom: 344px;
  }
}
@media screen and (max-width: 450px) {
  .review {
    font-size: 25px;
    line-height: 34px;
  }
  .body,
  .sign-up-now {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .img img.svg-icon {
    transform: scale(4); /* Phóng to ảnh lên 150% trên màn hình có độ rộng tối thiểu là 768px */
  }
}

.intro_main1,
.intro_main2,
.intro_main3,
.intro_main4,
.intro_main5,
.intro_main6 {
  color: black; /* Thiết lập màu chữ là đen */
}

/* Định nghĩa hình ảnh cho từng môn học */
.subject-list li:nth-child(1) a {
  background-image: url('/Flashcard/image/math.jpg');
  background-size: 20px 20px; /* Kích thước ảnh */
  background-repeat: no-repeat; /* Không lặp lại */
  padding-left: 25px; /* Để icon cách văn bản */
}

.subject-list li:nth-child(2) a {
  background-image: url('/Flashcard/image/english.jpg');
  background-size: 20px 20px; /* Kích thước ảnh */
  background-repeat: no-repeat; /* Không lặp lại */
  padding-left: 25px; /* Để icon cách văn bản */
}
/* Thêm các mục khác tương tự cho các môn học khác */